body {
  font-family: "Momo Signature", cursive;
}

div {
  background-color: rgb(237, 163, 177);
}

.title {
  background-color: bisque;
}

.doggos {
  background-color: cornsilk;
}

p {
  background-color: chartreuse;
}

th {
  background-color: yellow;
}

ol {
  background-color: yellow;
}

#champ {
  border: 1px solid white;
}
#paris {
  border: 2px solid green;
}

#goated {
  border: 2px solid yellow;
}

main {
  background-color: crimson;
}

footer {
  background-color: coral;
}

header {
  background-color: bisque;
}

header:hover {
  background-color: white;
}

#champ {
  text-align: center; /* this is ra */
}
